///////////////////////FONTLARRRRR///////////////////
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');






body {


  .register{
    width: 100%;
    position: fixed;
    background: #fff;
    height: 100vh;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  //  ////////////////////////////////// NAVBAR //////////////////////////////////


  .burger {
    border: 0 !important;
    padding: 0 !important;

    button {
      border: 0 !important;
    }
  }

  .search {
    @media (max-width: 1200px) {
      display: none !important;
    }

    .input {
      display: none;
      background: #BFC8C3;
      //margin-right: -20px !important;
      border-top-left-radius: 25px !important;
      border-bottom-left-radius: 25px !important;
      box-shadow: none;
      margin-right: -25px !important;
      @media (max-width: 1600px) {
        width: 100px!important;
      }
      @media (max-width: 768px) {
        width: 100%;
      }

      &:hover {
        .lupa {
          background: #BFC8C3;
        }
      }
    }

    .lupa {
      border-radius: 50% !important;

      button {
        height: 37px;
        border-radius: 50% !important;
        z-index: 999 !important;

        &:hover {
          background: #BFC8C3;
          z-index: 1 !important;
        }
      }

    }

    &:hover {
      input {
        display: block;
        background: #F7F7F7;
        border: none !important;
      }
    }
  }

  .search2 {
    width: 100%;
    justify-content: start !important;
    @media (max-width: 768px) {
      width: 100%;
    }

    .mobile {
      justify-content: start;

      @media (max-width: 768px) {
        width: 100%;
      }

      .lupa_mobile {
        margin-left: 15px;
        justify-content: center;
        align-items: center;
        display: flex;

        button {
          background-color: #F7F7F7;
          width: 35px;
          height: 38px;
        }

      }

      .input_mobile {
        background-color: #F7F7F7;
        width: 100%;
        border-bottom-right-radius: 25px !important;
        border-top-right-radius: 25px !important;
        margin-left: -20px;

        @media (max-width: 1200px) {
          width: 50%;
        }
        @media (max-width: 768px) {
          width: 100%;
        }


        &:focus {
          box-shadow: none;
        }
      }
    }

    .mobile_search {
      width: 100%;
      height: 100%;
      display: flex !important;
      background-color: red;


      @media (max-width: 768px) {
        justify-content: start !important;
      }

      .lupa {
        border-radius: 50% !important;
        display: block;

        button {
          height: 37px;
          border-radius: 50% !important;
          z-index: 999 !important;


          &:hover {
            background: #BFC8C3;
            z-index: 1 !important;
          }
        }

      }

      .input {
        width: 50%;
        background: #F7F7F7;
        //margin-right: -20px !important;
        border-bottom-right-radius: 25px !important;
        border-top-right-radius: 25px !important;
        box-shadow: none;
        //margin-left: -25px !important;
        @media (max-width: 1200px) {
          width: 50%;
        }

        &:hover {
          .lupa {
            background: #BFC8C3;
          }
        }

        &:focus {
          border: none;
        }
      }
    }

    @media (max-width: 1600px) {
      display: none !important;
    }
    @media (max-width: 1200px) {
      display: block !important;
    }
  }

  .social4 {
    button {
      width: 40px;
      height: 40px;
      background: #F7F7F7;
      border-radius: 50%;
      border: none;
    }
  }

  .navItem {
    margin-right: 15px;
    margin-left: 40px;
    @media (max-width: 1200px) {
      margin-right: 10px;
      margin-left: 30px;
    }

    @media (max-width: 992px) {
      margin-right: 5px;
      margin-left: 15px;
    }
    @media (max-width: 768px) {
      margin-left: 0;
    }

    a {
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: #1C1C33;
      text-decoration: none;
      @media (max-width: 1200px) {
        font-size: 14px;
      }
      @media (max-width: 992px) {
        font-size: 11px;
      }
      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  .navItem1 {
    margin-right: 20px;
    @media (max-width: 1200px) {
      margin-right: 10px;
    }
    @media (max-width: 992px) {
      margin-right: 5px;
    }

    a {
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: #1C1C33;
      text-decoration: none;
      @media (max-width: 1200px) {
        font-size: 14px;
      }
      @media (max-width: 992px) {
        font-size: 11px;
      }
      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  .d-flex {
    @media (max-width: 768px) {
      justify-content: center;
      align-items: center;
    }

    .social {
      margin-left: 15px;
      color: black !important;

      @media (max-width: 992px) {
        margin-left: 5px;
      }

      button {
        width: 40px;
        height: 40px;
        background: #F7F7F7;
        border-radius: 50%;
        border: none;
        @media (max-width: 1600px) {
          width: 40px;
          height: 40px;
          justify-content: center !important;
          h6 {
            display: none;
          }
        }

        @media (max-width: 992px) {
          width: 30px;
          height: 30px;

        }
        @media (max-width: 768px) {
          width: 40px;
          height: 40px;

        }

        &:hover {
          background: #BFC8C3;

        }
      }
    }
  }

  .social1 {
    margin-left: 10px;

    button {
      width: 30px;
      height: 30px;
      background: #F7F7F7;
      border-radius: 50%;
      border: none;
    }

    @media (max-width: 1800px) {
      display: none;
    }
    @media (max-width: 1200px) {
      display: none;
    }

    @media (max-width: 992px) {
      display: none;
    }
    @media (max-width: 768px) {
      display: block;

    }
  }

  .social2 {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .social3 {
    @media (max-width: 768px) {
      button {
        width: 200px !important;
        height: 40px !important;
        background: #F7F7F7;
        border-radius: 25px !important;
        border: none;
        justify-content: center !important;
        align-items: center !important;

        h6 {
          display: block !important;
          margin-top: -2px !important;
          margin-left: 5px !important;
        }
      }
    }
  }

  .select{
    width: 80px!important;
    height: 40px!important;
    margin-right: 15px!important;
    border-radius: 5px!important;

    button{
      width: 40px;
      height: 30px;
      background: #F7F7F7;
      border: none;
    }
  }
}



/////////////////////////////////////// Kategoriya //////////////////////////////////

.gradiend {

  background-color: #F6F6F6;

  .con {
    .rov {
      .katagoriya {
        .write {
          margin-top: 55px;
          margin-bottom: 30px;
          padding: 0;

          h2 {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.03em;
            color: #1C1C33;

            @media (max-width: 768px) {
              font-size: 30px;
            }
          }

          .pasmatrit {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.02em;
            color: #1C1C33;

            @media (max-width: 768px) {
              display: none;
            }

            img {
              margin-left: 5px;
            }
          }

          .vse {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.02em;
            color: #1C1C33;
            display: none;

            img {
              margin-left: 5px;
            }

            @media (max-width: 768px) {
              display: block;
            }
          }
        }
      }

      .dazmol {
        width: 540px;
        height: 605px;
        overflow: hidden;
        position: relative;

        .write {
          width: 100%;

          position: absolute;
          bottom: 40px;
          left: 40px;
          margin-bottom: -150px;
          transition: all .3s linear;

          @media (max-width: 992px) {
            bottom: 25px;
            left: 25px;
          }

          h5 {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 500;
            font-size: 44px;
            line-height: 53px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            color: #FFFFFF;
            @media (max-width: 992px) {
              font-size: 30px;
            }
          }

        }

        &:hover {
          opacity: 0.9;

          img {
            transform: scale(1.1);
          }

          .write {
            margin-bottom: 0;
            text-shadow: 0 0 5px black;

          }
        }

        img {
          width: 540px;
          height: 605px;
          transition: all 0.3s linear;

        }
      }

      .rasmlar {
        overflow: hidden;

        .rasmlar_container {
          .mb {
            margin-bottom: 54px;
          }

          .rasmlar_row {
            overflow: hidden;

            .rasmlar_col {
              .col-rasm {
                overflow: hidden;
                position: relative;

                .write2 {
                  width: 100%;

                  position: absolute;
                  bottom: 20px;
                  left: 20px;
                  margin-bottom: -50px;
                  transition: all .3s linear;

                  @media (max-width: 992px) {
                    bottom: 10px;
                    left: 10px;
                  }

                  h5 {
                    font-family: SF Pro Display;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    color: #FFFFFF;
                    @media (max-width: 992px) {
                      font-size: 18px;
                    }
                    @media (max-width: 340px) {
                      font-size: 16px;
                    }
                  }

                }

                &:hover {
                  backdrop-filter: blur(20px);
                  opacity: 10;

                  img {
                    overflow: hidden;
                    transform: scale(1.1);
                  }

                  .write2 {
                    margin-bottom: 0 !important;

                    h5 {
                      text-shadow: 0 0 5px black;
                    }
                  }
                }

                img {
                  overflow: hidden;
                  max-width: 100%;
                  height: auto;
                  transition: all 0.3s linear;
                }
              }
            }
          }
        }
      }

      .batafsil {
        margin-top: 25px;
        padding-bottom: 45px;

        button {
          width: 180px;
          height: 56px;
          border: none;
          background: #09CC66;
          box-shadow: 0px 7px 15px rgba(9, 204, 102, 0.33);
          border-radius: 4px;
          font-family: SF Pro Display;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 21px;
          color: #FFFFFF;
        }
      }

    }
  }
}

/////////////////////////////////////// Shivaki /////////////////////////////////////

.shivaki {
  .shivaki_row {

    .shivaki_col {
      margin-top: 60px;

      .shivaki_container {
        h2 {
          font-family: SF Pro Display;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: -0.03em;
          color: #1C1C33;

          @media (max-width: 576px) {
            font-size: 25px;
          }
          @media (max-width: 350px) {
            font-size: 18px;
          }
        }

        a {
          font-family: SF Pro Display;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: -0.02em;
          color: #1C1C33;

          @media (max-width: 576px) {
            font-size: 15px;
          }
          @media (max-width: 330px) {
            font-size: 12px;
          }

          img {
            margin-left: 5px;
          }
        }
      }
    }

    .companiya {
      margin-top: 100px;
      margin-bottom: 150px;

      .samsung {
        .samsung_container {
          .samsung_row {
            .samsung_col {
              @media (max-width: 992px) {
                display: flex;
                justify-content: center !important;
                margin-bottom: 30px;
              }
              @media (max-width: 768px) {
                display: flex;
                justify-content: center !important;
                margin-bottom: 50px;
              }

            }
          }
        }
      }
    }
  }
}

/////////////////////////////////////// Footer //////////////////////////////////////

.footer_container {
  .footer_row {
    margin-bottom: 50px;
    @media (max-width: 768px) {
      flex-direction: column-reverse;

    }
    .footer_col {

      .footer_p {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #919193;
        margin-top: 40px;

        @media (max-width: 992px) {
          font-size: 10px;
        }
      }

      .footer_row2 {
        .footer_col2 {
          .footerLink {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            color: #1C1C33;
            margin-bottom: 30px;
          }

          .footer_navbarNav {
            .footer_navItem {
              .footer_navLink {
                font-family: SF Pro Display;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                display: flex;
                align-items: center;

                color: #1C1C33;

                opacity: 0.3;

                &:hover {
                  color: #1C1C33;
                  opacity: 10;
                }
              }
            }
          }
        }
      }
    }



    //////////////////////////////////////////////////

    .footer_col4 {
      @media (max-width: 768px) {

      }
      .footer_card{
        border: 0;
        @media (max-width: 768px) {
          margin-bottom: 50px;

        }
        .footer-social{
          a{
            //margin-left: 15px;
          }
        @media (max-width:768px) {
          display: flex!important;
          justify-content: space-between;
        }
        }
        .footer_skachat{
          width: 100%;
          h1{
            font-family: 'Open sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            color: #1C1C33;
            
            @media (max-width: 992px) {
              font-size: 25px!important;
            }
            @media(max-width: 768px){
              font-size: 20px;
            }
          }
        }
        .footer_app{
          margin-top: 34px;
          margin-bottom: 70px;
        }
        .footer_button{
          margin-top: 50px;
          background: #919193;
          border-radius: 4px;
          font-family: SF Pro Display;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 26px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          text-align: center;

          @media (max-width: 992px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}
h1, h2, h3, h4, h5, h6, p, ul, a{
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: 'Open sans', sans-serif !important;
}
button {
  font-family: 'Open sans', sans-serif !important;
}